<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="static/javascript.js"></script>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="flex-container">
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bxs-color'></i>
                    <div class="logo_name">
                        CodingLab
                    </div>
                </div>
                <div class="menu_logo">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <i class="bx bx-search" id="btn"></i>
                        <input type="text" placeholder="Search...">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-grid-alt' id="btn"></i>
                        <span class="links_name">User</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat' id="btn"></i>
                        <span class="links_name">Messages</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-pie-chart-alt-2' id="btn"></i>
                        <span class="links_name">Analytics</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-folder' id="btn"></i>
                        <span class="links_name">File Manager</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-heart' id="btn"></i>
                        <span class="links_name">Saved</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog' id="btn"></i>
                        <span class="links_name">Settings</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>

                <!-- <div class="profile_content">
                    <div class="profile">
                        <div class="profile_details">
                            <div class="name_job">
                                <div class="name">Fred</div>
                                <div class="job">Web Designer</div>
                            </div>
                        </div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div> -->
            </ul>
        </div>
        <div class="main-content">

            <div>
                <h2>Tabs</h2>
                <p>Tabs are perfect for single page applications.</p>
            </div>


            <!-- <div class="container">
                <button id="button">Get Data</button>
                <br>
                <div id="output"></div>
            </div> -->
            {% for row in tab_content: %}
            <div id="tabs">
                <input type="submit" class="cityName" value="{{ row['city'] }}">
            </div>
            {% endfor %}

            {% for row in tab_details: %}
            <div>
                <h2> {{ row['city'] }} </h2>
                <p> {{ row['content'] }} </p>
            </div>
            {% endfor %}

        </div>

    </div>
    </div>
    <script>
        //var x = document.getElementsByClassName("cityName");
        //console.log(x)
        var x = document.querySelectorAll('cityName');
        console.log(x)

        var tabs = document.querySelectorAll('.cityName')
        tabs.forEach(tab => {
            console.log('clicked')
            tab.addEventListener('click', loadCustomer);
        })

        //document.querySelectorAll('cityName').addEventListener('click', loadCustomer);

        function loadCustomer(e) {
            console.log(e.target.value)
            const xhr = new XMLHttpRequest();

            xhr.open(method = 'POST', url = "{{ url_for('home') }}", async = true);

            var formData = new FormData();
            formData.append('city', e.target.value)
            //console.log(formData)
            xhr.send(formData);
        }

        let btn = document.querySelector(".bx-menu");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function () {
            console.log('clicked');
            sidebar.classList.toggle("active");
        }
    </script>
</body>

</html>