<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="static/javascript.js"></script>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="flex-container">
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bxs-color'></i>
                    <div class="logo_name">
                        CodingLab
                    </div>
                </div>
                <div class="menu_logo">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <i class="bx bx-search" id="btn"></i>
                        <input type="text" placeholder="Search...">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-grid-alt' id="btn"></i>
                        <span class="links_name">User</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat' id="btn"></i>
                        <span class="links_name">Messages</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-pie-chart-alt-2' id="btn"></i>
                        <span class="links_name">Analytics</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-folder' id="btn"></i>
                        <span class="links_name">File Manager</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-heart' id="btn"></i>
                        <span class="links_name">Saved</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog' id="btn"></i>
                        <span class="links_name">Settings</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>

                <!-- <div class="profile_content">
                    <div class="profile">
                        <div class="profile_details">
                            <div class="name_job">
                                <div class="name">Fred</div>
                                <div class="job">Web Designer</div>
                            </div>
                        </div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div> -->
            </ul>
        </div>
        <div class="main-content">

            <div>
                <h2>Tabs</h2>
                <p>Tabs are perfect for single page applications.</p>
            </div>

            {% for row in tab_content: %}
            <div id="tabs">
                <form method="post">
                    <input type="submit" value="{{ row['city'] }}" name="city_name">
                </form>

                <!-- <button onclick="openCity('{{ tab_content["city"] }}')>London</button>
                <button onclick="openCity('Paris')">Paris</button>
                <button onclick="openCity('Tokyo')">Tokyo</button> -->
            </div>
            {% endfor %}

            {% for row in tab_details: %}
            <div id="{{ row['city'] }}" class="city">
                <h2> {{ row['city'] }} </h2>
                <p> {{ row['content'] }} </p>
            </div>
            {% endfor %}
            <!-- <div id="London" class="city">
                <h2>London</h2>
                <p>London is the capital city of England.</p>
            </div>

            <div id="Paris" class="city" style="display:none">
                <h2>Paris</h2>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="city" style="display:none">
                <h2>Tokyo</h2>
                <p>Tokyo is the capital of Japan.</p>
            </div> -->
        </div>
        <!-- <button onclick="create()">+</button> -->
        <!-- <button onclick="remove()">-</button> -->


    </div>
    </div>
    <script>

        let btn = document.querySelector(".bx-menu");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function () {
            console.log('clicked');
            sidebar.classList.toggle("active");
        }
    </script>
</body>

</html>