<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script src="static/javascript.js"></script>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="flex-container">
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bxs-color'></i>
                    <div class="logo_name">
                        CodingLab
                    </div>
                </div>
                <div class="menu_logo">
                    <i class='bx bx-menu'></i>
                </div>
            </div>
            <ul class="nav_list">
                <li>
                    <a href="#">
                        <i class="bx bx-search" id="btn"></i>
                        <input type="text" placeholder="Search...">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-grid-alt' id="btn"></i>
                        <span class="links_name">User</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chat' id="btn"></i>
                        <span class="links_name">Messages</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-pie-chart-alt-2' id="btn"></i>
                        <span class="links_name">Analytics</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-folder' id="btn"></i>
                        <span class="links_name">File Manager</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-heart' id="btn"></i>
                        <span class="links_name">Saved</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog' id="btn"></i>
                        <span class="links_name">Settings</span>
                    </a>
                    <!-- <span class="tooltip">Dashboard</span> -->
                </li>

                <!-- <div class="profile_content">
                    <div class="profile">
                        <div class="profile_details">
                            <div class="name_job">
                                <div class="name">Fred</div>
                                <div class="job">Web Designer</div>
                            </div>
                        </div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div> -->
            </ul>
        </div>
        <div class="main-content">
            <div>
                <h2>Tabs</h2>
                <p>Tabs are perfect for single page applications.</p>
            </div>


            <!-- <div class="container">
                <button id="button">Get Data</button>
                <br>
                <div id="output"></div>
            </div> -->

            <div id="tabs">
                {% for row in tab_names: %}
                <input type="submit" class="cityName" value="{{ row['city'] }}">
                {% endfor %}
            </div>


            <div>
                <h2 id="city-name"></h2>
                <p id="city-content"></p>
            </div>
            <br><br>
            <div>
                <input type="text" placeholder="Change content" id="change_content">
                <button type="button" onclick="changeCityContent()">Change Content</button>
            </div>

        </div>


    </div>
    </div>
    <script>

        // Submitting change to json file in local file
        //document.getElementById('form').addEventListener('submit', changeCityContent)
        var selectedTab = 'London'
        
        function changeCityContent() {
            // get city value that's open right now
            //current_city_name = document.getElementById('city-name').innerHTML
            let data = new FormData()
            data.append('content', document.getElementById('change_content').value)
            data.append('open_city_tab', selectedTab)
            fetch('{{ url_for("home") }}', {
                "method" : "POST",
                "body" : data
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                document.getElementById('city-content').innerHTML = data[0]['content'];
            })
        }

        // Changing Tab Values
        var tabs = document.querySelectorAll('.cityName')
        tabs.forEach(tab => {
            tab.addEventListener('click', getCityDetails);
        })
        
        function getCityDetails(e) {
            let data = new FormData()
            data.append('city', e.target.value)
            fetch('{{ url_for("home") }}', {
                "method": "POST",
                "body": data
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('city-name').innerHTML = data[0]['city'];
                    document.getElementById('city-content').innerHTML = data[0]['content'];
                })
            selectedTab = e.target.value;
        }















        let btn = document.querySelector(".bx-menu");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function () {
            console.log('clicked');
            sidebar.classList.toggle("active");
        }
    </script>
</body>

</html>